@import "reset";
@import "../variables/variables";


body {
  background: $color-bg;
  width: 100%;
  height: 100%;
}
#wrapper, #map {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
