@import "../variables/variables";

.security__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;

  &-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &_logo {
      margin-right: 2rem;

      img {
        width: 150px;
        height: 150px;
      }
    }

    &_container {
      display: flex;
      flex-direction: row;
    }
  }

  &-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    button.active {
      background: $gray-color;
    }
    &:hover {
            color: $white-color;
     }
  }
  &-links_container p,
  &-menu_container p {
    color: $white-color;
    font-family: $font-family;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
  }
  &-sign button,
  &-menu_container button {
    padding: 0.5rem 1rem;
    color: $white-color;
    background: inherit;
    font-family: $font-family;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
    border: 0;
    outline: none;
    cursor: pointer;
  }
  &-menu {
    margin-left: 1rem;
    display: none;
    position: relative;

    svg {
      cursor: pointer;
    }
    &_container {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
      text-align: end;
      background: $color-footer;
      padding: 2rem;
      position: absolute;
      top: 40px;
      right: 0;
      margin-top: 1rem;
      min-width: 210px;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

      p {
        margin: 1rem 0;
      }

      &_links-sign {
        display: none;
      }
    }
  }
}