.security__whatWeDo{
    display: flex;
    flex-direction: column;

    padding: 2rem;
    background: var(--color-footer);

    /* ff 3.6+ */
    background: -moz-linear-gradient(90deg, rgba(99, 99, 99, 1) 0%, rgb(16, 16, 16) 100%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-linear-gradient(90deg, rgba(99, 99, 99, 1) 0%, rgb(16, 16, 16) 100%);

    /* opera 11.10+ */
    background: -o-linear-gradient(90deg, rgba(99, 99, 99, 1) 0%, rgb(16, 16, 16) 100%);

    /* ie 10+ */
    background: -ms-linear-gradient(90deg, rgba(99, 99, 99, 1) 0%, rgb(16, 16, 16) 100%);

    /* global 94%+ browsers support */
    background: linear-gradient(90deg, rgba(99, 99, 99, 1) 0%, rgb(16, 16, 16) 100%);

    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}
.security__whatWeDo-feature{
    display: flex;
}
.security__whatWeDo-feature .security__features-container__feature{
    margin: 0;
}
.security__whatWeDo-feature .security__features-container__feature-text{
    max-width: 700px;
}
.security__whatWeDo-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 4rem 0 2rem;
}
.security__whatWeDo-heading h1{
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    max-width: 510px;
    font-family: var(--font-family);
}
.security__whatWeDo-heading p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-subtext);
    cursor: pointer;
}
.security__whatWeDo-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /*justify-content: space-between;*/
    /*gap: 1rem;*/

    /*display: grid;*/
    /*gap: 100px;*/
    /*grid-template-columns: repeat(3, 312px);*/

    margin-top: 2rem;
}
/*.security__whatWeDo-container {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-between;*/
/*    margin-top: 2rem;*/
/*}*/

/*.security__features-container__feature {*/
/*    width: calc(33.33% - 1rem);*/
/*    margin-bottom: 1rem;*/
/*    min-height: 200px; !* Задайте фиксированную высоту, например, 200px *!*/
/*    box-sizing: border-box; !* Учтите границы и отступы в общей высоте блока *!*/
/*}*/

.security__features-container__feature {
    /*width: calc(33.33% - 1rem); !* или другой расчет ширины в зависимости от ваших предпочтений *!*/
    /*margin-bottom: 1rem; !* или другой интервал между блоками в зависимости от ваших предпочтений *!*/
}
.security__features-container__feature{
    /*flex-basis: 0;*/
    /*flex: 1 1 calc(33.33% - 1rem); !* 33.33% to allow for gaps; adjust as needed *!*/
    /*margin-bottom: 1rem;*/
}

.security__whatWeDo-container .security__features-container__feature{
    flex: 1;
    margin: 1rem;
    min-width: 210px;
    display: unset;
    flex-direction: column;
}
.security__whatWeDo-container .security__features-container__feature-text{
    margin-top: 0.5rem;
}
@media screen and(max-width: 850px){
    .security__whatWeDo-heading{
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-bottom: 0;
    }
    .security__whatWeDo-heading h1{
        font-size: 28px;
        line-height: 40px;
        font-weight: 500;
    }
    .security__whatWeDo-heading p{
        margin-bottom: 1rem;
    }
    .security__features-container__feature {
        /*flex: 1 1 calc(50% - 1rem); !* Two services per row on smaller screens *!*/
    }
}
@media screen and(max-width: 650px){
    .security__whatWeDo-feature .security__features-container__feature{
        flex-direction: column;
    }
    .security__whatWeDo-feature .security__features-container__feature-text{
        margin-top: 0.5rem;
    }
    .security__whatWeDo-heading h1{
        font-size: 24px;
        line-height: 36px;
    }
}
@media screen and(max-width: 350px){
    .security__whatWeDo-container .security__features-container__feature{
        /*margin: 1rem 0;*/
        margin: 0;
        min-width: 100%;
    }
}

