.security__header {
  z-index: -1000;
  display: flex;
  margin: 4rem 2rem;
  padding: 4rem 2rem;
  background: $gradient-bg;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

  .security__header-content {
    flex: 1;
    @extend .flex-center;
    align-items: flex-start;
    flex-direction: column;

    h1 {
      @extend .heading-xl;
    }
 p {
      @extend .text-md;
      color: $color-subtext;
      cursor: pointer;
      text-align: center;
      font-family: $font-family;
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;
      color: $color-text;
      margin-top: 1.5rem;
    }

    &__people {
      width: 100%;
      display: flex;
      align-items: center;
      margin-top: 2rem;

      img {
        width: 182px;
        height: 38px;
      }

      p {
        margin-left: 1rem;
        font-family: $font-family;
        font-weight: 500;
        font-size: 12px;
        line-height: 38px;
        color: $white-color;
      }
    }
  }

  &-image {
    flex: 1;
    @extend .flex-center;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
